<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="Utils.Transformer"></listener>
    </listeners>
    <test verbose="2" preserve-order="true" name="TestToCheckIfListersRetryOnFailure">
        <classes>
            <class name="RetryClass">
                <methods>
                    <exclude name="rerun_this_method1"></exclude>
                </methods>
            </class>
        </classes>
    </test>
</suite>